:root {
  --root-background-color: #10439F;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#10439F, #874CCC, #C65BCF, #F27BBD);
}

h1 {
  color: #F27BBD;
}